{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Shopping cart' %}{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-10 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    {% trans 'Your order' %}:
  </h3>

  <div class="row justify-content-center py-2 text-center header-desc">
    <div class="col-lg-2 align-self-center">
      {% trans 'Product' %}
    </div>
    <div class="col-lg-2 align-self-center">
      {% trans 'Description' %}
    </div>
    <div class="col-lg-2 align-self-center">
      {% trans 'Availability' %}
    </div>
    <div class="col-lg-1 align-self-center">
      {% trans 'Price' %}
    </div>
    <div class="col-lg-2 align-self-center">
      {% trans 'Quantity' %}
    </div>
    <div class="col-lg-3 align-self-center">
      {% trans 'Total Price' %}
    </div>
  </div>
  <hr class="mt-0">
  {% for item in cart %}
    {% with product=item.product %}
      <div class="row justify-content-center cart">
        <div class="cart-item col-4 col-lg-2">
          <a href="{[ product.get_absolute_url }}">
            <img src="{{ product.image.url }}" alt=""
              class="img-fluid rounded-0">
          </a>
        </div>
        <div class="cart-item product-name col-12 col-lg-2 
          align-self-center text-center">
          {{ product.name }}
        </div>
        <div class="cart-item col-12 col-lg-2 align-self-center">
          {% if product.available %}
            <div class="text-green mb-0 text-center">
              {% trans 'Available' %}
            </div>
          {% else %}
            <div class="text-danger mb-0 text-center">
              {% trans 'Currently unavailable' %}
            </div>
          {% endif %}
        </div>
        <div class="cart-item col-12 col-sm-3 col-lg-1
          align-self-center text-center">
          <span>${{ product.price }}</span>
        </div>
        <div class="cart-item col-6 col-sm-5 col-lg-2 align-self-center">
          <form action="{% url 'cart:cart_add' product.id %}" method="POST">
            {% csrf_token %}
            <span class="input-group shopping-cart">
              {{ item.update_quantity_form.quantity }}
              <input type="hidden" name="override_qty" value="True">
              <div class="input-group-append">
                <button type="submit" class="btn text-white"
                  data-toggle="tooltip" data-placement="top" title="Update">
                  <i class="fas fa-edit"></i>
                </button>
              </div>
            </span>
          </form>
        </div>
        <div class="cart-item col-12 col-sm-3 col-lg-2 text-right 
          align-self-center">
          <span>${{ item.total_price }}</span>
        </div>
        <div class="cart-item col-12 col-lg-1 text-right align-self-center">
          <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" data-toggle="tooltip"
              data-placement="top" title="Remove">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </div>
      </div>
    {% endwith %}
  {% empty %}
    <div class="align-self-center">
      <span class="text-center font-weight-bold text-muted lead">
        {% trans 'Your shopping cart is empty.' %}
      </span>
    </div>
  {% endfor %}
  <hr>
  <div class="total-price-cart">
    <h4 class="row justify-content-center">
      <div class="col-5 col-lg-9 text-right text-grey">
        {% trans 'Total price' %}:
      </div>
      <div class="col-5 col-lg-2 text-right text-danger">
        ${{ cart_total_price|floatformat:2 }}
      </div>
      <div class="col-2 col-lg-1">
      </div>
    </h4>
  </div>
</div>
<hr>
<div class="col-lg-10 mx-auto mb-5">
  <div class="row justify-content-end">
    {% if cart|length > 0 %}
      <div class="col-lg-6 px-0">
        <div class="btn-group d-flex">
          <a href="{% url 'listings:product_list' %}"
            class="btn btn-warning shadow-custom col">
            {% trans 'Back to shop' %}
          </a>
          <a href="{% url 'orders:order_create' %}" 
            class="btn btn-danger shadow-custom col">
            {% trans 'Checkout' %}
          </a>
        </div>
      </div>
    {% else %}
      <div class="col-lg-3 px-0">
        <div class="btn-group d-flex">
          <a href="{% url 'listings:product_list' %}"
            class="btn btn-warning shadow-custom col">
            {% trans 'Back to shop' %}
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% if recommendation %}
  <hr>
  <div class="card shadow-custom border-0 col-lg-10 mx-auto mb-3">
    <div class="card-body text-center">
      <h3 class="font-weight-bold text-grey">
        {% trans 'You may also like...' %}
      </h3>
      <div class="bottom_line"></div>
    </div>
  </div>
  <div class="row no-gutters justify-content-center">
    {% for p in recommendation %}
      <div class="col-sm-2">
        <div class="card product h-100">
          <div class="item">
            <div class="item-image">
              <img src="{{ p.image.url }}" alt="" class="img-fluid rounded-0">
            </div>
            <div class="item-text">
              <div class="item-text-wrap">
                <a href="{{ p.get_absolute_url }}"
                  class="h2 text-white text-decoration-none">
                  <i class="fas fa-search-plus"></i>
                </a>
              </div>
            </div>
            <div class="card-body text-center">
              {{ p.name }}
              <hr>
              <span><i class="fas fa-thin fa-dollar-sign"></i>
                {{ p.price }}
              </span>
              <div>
                <i class="fas fa-shopping-basket"></i>
                  {{ p.net }}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}