{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Reset password' %}{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="shadow-custom messages alert alert-danger 
    col-lg-5 mx-auto text-center">
    {% blocktrans %}
      Could not update password.
      Make sure provided passwords match and try again.
    {% endblocktrans %}
  </div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    {% trans 'Reset password' %}
  </h3>
  {% if validlink %}
    <p class="text-center">{% trans 'Fill in new password' %}</p>
    <form method="post">
      {% csrf_token %}
      <div class="input-field">
        <label for="id_new_password1">{% trans 'New password' %}</label>
        <input class="form-control" type="password" name="new_password1" 
        required="" id="id_new_password1">
      </div>
      <div class="input-field">
        <label for="id_new_password2">
          {% trans 'Confirm new password' %}
        </label>
        <input class="form-control" type="password" name="new_password2" 
        required="" id="id_new_password2">
      </div>
      <button class="btn btn-block btn-warning mb-3" type="submit">
        {% trans 'Confirm password' %}
      </button>
    </form>
  {% else %}
    <p>
      {% trans 'Provided link is invalid.' %}
      {% trans 'Please request new password reset.' %}
    </p>
  {% endif %}
</div>
{% endblock %}
