{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
{% if form.errors %}
  <div class="shadow-custom messages alert alert-danger 
    col-lg-5 mx-auto text-center">
    {% blocktrans %}  
      Could not update password.
      Make sure you provide valid credentials and try again.
    {% endblocktrans %}
  </div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    {% trans 'Change password' %}
  </h3>
  <form method="post">
    {% csrf_token %}
    <div class="input-field">
      <label for="old_password" class="text-muted">{% trans 'Old password' %}</label>
      <input class="form-control" type="password" name="old_password" 
        autofocus="" required="" id="id_old_password">
    </div>
    <div class="input-field">
      <label for="new_password1" class="text-muted">{% trans 'New password' %}</label>
      <input class="form-control" type="password" name="new_password1" 
        required="" id="id_new_password1">
    </div>
    <div class="input-field">
      <label for="new_password2" class="text-muted">{% trans 'Confirm password' %}</label>
      <input class="form-control" type="password" name="new_password2" 
        required="" id="id_new_password2">
    </div>
    <button class="btn btn-block btn-warning mb-3" type="submit">
      {% trans 'Change password' %}
    </button>
  </form>
</div>
{% endblock %}
