{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password changed' %}{% endblock %}

{% block content %}
<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3 
  text-center">
  <h3 class="py-2 font-weight-bold text-grey">
    {% trans 'Password changed' %}
  </h3>
  <hr class="my-0">
  <div class="py-2">
    {% trans 'Your password was successfully changed. You can' %}
    <a class="text-decoration-none" href="{% url 'login' %}">
      {% trans 'log in' %}.
    </a>
  </div>
</div>
{% endblock %}
