{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Register' %}{% endblock %}

{% block content %}

{% if messages %}
  <div class="shadow-custom messages alert alert-danger
    col-lg-5 mx-auto text-center">
    {% for message in messages %}
      {{ message }}
      <a href="" class="close">x</a>
    {% endfor %}
  </div>
{% endif %}

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    {% trans 'Register' %}
  </h3>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <div class="input-field">
        {{ user_form.first_name }}
        <label for="first_name">{% trans 'First name' %}</label>
      </div>
      <div class="input-field">
        {{ user_form.last_name }}
        <label for="last_name">{% trans 'Last name' %}</label>
      </div>
      <div class="input-field">
        {{ user_form.email }}
        <label for="email">{% trans 'Email' %}</label>
      </div>
      <div class="input-field">
        {{ user_form.password }}
        <label for="password">{% trans 'Password' %}</label>
      </div>
      <div class="input-field">
        {{ user_form.password2 }}
        <label for="password2">{% trans 'Repeat password' %}</label>
      </div>
    </div>
    <button class="btn btn-block btn-warning mb-3" type="submit">
      {% trans 'Register' %}
    </button>
  </form>
</div>

<div class="card shadow-custom border-0 col-lg-5 mx-auto mb-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    {% trans 'Register with social account' %}
  </h3>
  <a href="{% url 'social:begin' 'twitter' %}" 
    class="btn btn-block btn-outline-primary mb-3"
    role="button" aria-pressed="true">
    <i class="fab fa-twitter"></i> {% trans 'Register with Twitter' %}
  </a>
  <a href="{% url 'social:begin' 'google-oauth2' %}"
    class="btn btn-block btn-outline-success mb-3"
    role="button" aria-pressed="true">
    <i class="fab fa-google"></i> {% trans 'Register with Google' %}
  </a>
  <hr>
  <div class="align-self-center">
    <span class="text-center font-weight-bold text-muted">
      {% trans 'After successful log-in' %},<br> 
      {% trans 'we highly recommend that' %}<br> 
      {% trans 'you enter your profile information' %}.<br>
    </span>
  </div>
</div>
{% endblock %}