{% extends 'base.html' %}
{% load listings_tags %}

{% block title %}SHL.depot{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-3">
    <div class="card shadow-custom border-0">
      <h4 class="p-3 font-weight-bold text-grey">Categories</h4>
      <ul class="list-group border-0 categories_list">
        <li 
          {% if not requested_category %}
            class="list-group-item border-0 p-0 selected"
          {% else %}
            class="list-group-item border-0 p-0 unselected"
          {% endif %}>
            <a href="{% url 'listings:product_list' %}" 
              class="btn btn-block text-left">All</a>
        </li>
        {% for category in categories %}
          <li 
            {% if category.slug == requested_category.slug %}
              class="list-group-item border-0 p-0 selected"
            {% else %}
              class="list-group-item border-0 p-0 unselected"
            {% endif %}>
              <a href="{{ category.get_absolute_url }}" 
                class="btn btn-block text-left">
                {{ category.name }}
              </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    {% search_bar %}
  </div>
  <div class="col-lg-9">
    <div class="card shadow-custom border-0 mb-4">
      <div class="card-body text-center">
        <h2 class="font-weight-bold text-grey">
          {% if requested_category %}
            {{ requested_category.name }}
          {% elif query %}
            Search results
          {% else %}
            Our Products
          {% endif %}
        </h2>
        <div class="bottom_line"></div>
      </div>
    </div>
    <div class="row no-gutters">
      {% for product in products %}
        <div class="col-sm-4">
          <div class="card product h-100">
            <div class="item">
              <div class="item-image">
                <img src="{{ product.image.url }}" alt=""
                  class="img-fluid rounded-0">
              </div>
              <div class="item-text">
                <div class="item-text-wrap">
                  <a href="{{ product.get_absolute_url }}" 
                    class="h2 text-white text-decoration-none">
                    <i class="fas fa-search-plus"></i>
                  </a>
                </div>
              </div>
              <div class="card-body text-center">
                {{ product.name }}
                <hr>
                <span><i class="fas fa-thin fa-dollar-sign"></i>
                  {{ product.price }}
                </span>
                <div>
                  <i class="fas fa-shopping-basket"></i>
                  {{ product.net }}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% empty %}
      <div class="col-sm-12">
        <div class="h4 text-decoration-none text-center">
          Sorry, no results found.
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-lg-3"></div>
  <div class="pagination">
    <span class="step-links">
      <i class="fas fa-caret-square-left"></i>
      {% if products.has_previous %}
        <a href="?page={{ products.previous_page_number }}"
          class="text-warning">Back</a>
      {% endif %}
      <span class="current">
        Page {{ products.number }} of {{ products.paginator.num_pages }}
      </span>
      {% if products.has_next %}
        <a href="?page={{ products.next_page_number }}" 
          class="text-warning">Next</a>
      {% endif %}
      <i class="fas fa-caret-square-right"></i>
    </span>
  </div>
</div>
<hr>
{% endblock %}
